table{
    color: rgb(27, 22, 22);
    text-align: center;
    border-collapse: separate;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px soild #4e494d;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton{
    background-color: #424142;
}

.operatorButton{
    background-color:#3c06ff;
}

.ACButton{
    background-color: #424142;
}
